body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* .list {
  list-style: none;
}

.link {
  text-decoration: none;
} */

/** ================HEADER==================== */

.header {
}
.header-navigation {
}
.header-logo-blue {
    font-family: 'Raleway', sans-serif;
    font-weight: 700px;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo-normal {
    color: #2e2f42;
}
.header-menu-list {
}
.header-menu-item {
}
.header-menu-link {
}
.address {
}
.hero {
}
.hero-title {
}
.hero-button {
}
.section-one {
}
.section-one-title {
}
.section-one-list {
}
.section-one-item {
}
.section-one-subtitle {
}
.section-one-item-text {
}