body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* .list {
  list-style: none;
}

.link {
  text-decoration: none;
} */

/** ================HEADER==================== */

.header {
}
.header-navigation {
}
.header-logo-blue {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.header-logo-normal {
    color: #2e2f42;
}
.header-menu-list {
}
.header-menu-item {
}
.header-menu-link {
    color: #2E2F42;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.address {
    font-style: normal;
}
.address-menu {
}
.address-menu-item {
}
.address-menu-link {
    color: #434455;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-menu-link:hover,
.address-menu-link:focus{
    color: #404bbf;
}

/** ====================== Hero ====================== **/


.hero {
    background-color: #2E2F42;
}
.hero-title {
    color: #FFFFFF;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.hero-button {
    background-color: #4D5AE5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}


/** ====================== The benefits ====================== **/

.benefits {
}
.benefits-title {
}
.benefits-list {
}
.benefits-item {
}
.benefits-subtitle {
    color: #2E2F42;

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.benefits-item-text {
    color: #434455;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/** ====================== The Team ====================== **/

.team {
    background-color: #F4F4FD;
}
.team-title {
    color: #2E2F42;
    text-align: center;

    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-transform: capitalize;
    }
.team-list {
    background-color: #FFFFFF;
}
.team-item {
    background-color: #FFFFFF;
}
.team-image {
}
.team-worker-name {
    color: #2E2F42;
    text-align: center;

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.2em;
}
.team-worker-position {
    color: #434455;
    text-align: center;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/** ====================== The Portfolio ====================== **/

.portfolio {
}
.portfolio-title {
    color: #2E2F42;
    text-align: center;

    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-transform: capitalize;
    }
.portfolio-list {
}
.portfolio-item {
}
.portfolio-image {
}
.portfolio-item-title {
    color: #2E2F42;

    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.portfolio-item-text {
    color: #434455;

    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

/** ====================== Footer ====================== **/

.footer {
    background-color: #2E2F42;
}
.footer-logo-blue {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 21px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
}
.footer-logo-normal {
    color: #F4F4FD;
    }
.footer-text {
    color: #F4F4FD;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}